body {
  font-family: "Lucida Grande";
}

.calendar-comp {
  float: left;
}

#calendar-wrap {
  padding-top: 10px;
}

#time-container {
  width: 100px;
  height: 720px;
}

#calendar-container {
  width: 600px;
  height: 720px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #dedede;
  border-left: 1px solid #ccc;
  margin-top: 8px;
}

.time-list {
  padding-right: 10px;
  text-align: right;
}

.time-list .time-item {
  font-size: 10px;
  color: #999;
  height: 30px;
}

.time-list .time-item:nth-child(even) {
  font-size: 10px;
}

.time-list .time-number {
  font-size: 12px;
  font-weight: 800;
  color: #666;
}
